doctype html
html
    head
        meta(charset='utf-8')
        meta(name='google-site-verification', content='BtMmWfntdvkPmFCv9CNJydv8aQy29Gq86bE4pUnywa8')
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content=description)
        meta(name='keywords', content=keywordlist)
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/stylesheets/main.css')
        block custom-stylesheets
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='https://unpkg.com/vue/dist/vue.min.js')
        // Note: vue.min.js should be used for production.
        script(async src='/javascripts/anagram-nav.js')
        block custom-js

    body
        header
            #header-container.wrapper
                #game-btn-container
                    i#game-btn.btn.material-icons.md-225: | &#xE838;
                #multi-enabled-btn-container
                    i#multi-enabled-btn.btn.material-icons.md-225.hidden: |&#xE147;
                    i#multi-enabled-btn-false.btn.material-icons.md-225: |&#xE148;
            nav
        section#content.wrapper
            block content
        footer
            #version-container
                |v.#{version}
