* {
    /* Makes padding and border are included in the total width and height of elements */
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    /*background-color: #f5f5f5;*/ /* Randomising this */
    font: 16px 'Open Sans', sans-serif;
    color: #fafafa;
}

a {
    color: #00B7FF;
    text-decoration: none;
}

/* ======= *** RESPONSIVE WEB DESIGN *** ======= */
/* Responsive Web Design with 3 columns
   Each row should be wrapped in a <div>
   The sum of columns inside a row should add up to 12 */

/* Prevent other elements from ignoring the columns' flow within the page */

.row::after {
    content: '';
    clear: both;
    display: block;
}

/* Mobile first */

[class*='col-'] {
    width: 100%;
    float: left;
}

.mobile-hide {
    display: none;
}

/* Desktop/tablet second */

@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .mobile-hide {
        display: block;
    }

    .mobile-show {
        display: none;
    }
}

/* Wrapper */
/* This class exists to center content horizontally when the screen is large */

.wrapper {
    max-width: 768px; /* Breakpoint is 768px */
    min-width: 320px; /* Won't go smaller than 320px */
    margin: 0 auto; /* This center the class horizontally */
}

/* ======= *** HEADER *** ======= */

header {}

#header-container {
    padding: 5px;
}

#game-btn-container {
    display: inline-block;
    width: 50%;
    text-align: left;
}

#multi-enabled-btn-container {
    display: inline-block;
    width: 50%;
    text-align: right;
}

/* ======= *** NAV *** ======= */

nav {

}

/* ======= *** CONTENT *** ======= */

#content {
    position: relative;
    padding: 5px;
    text-align: center;
}

.title {
    font-size: 200%;
    font-weight: bold;
}

.desc {
    font-size: 90%;
}

 /* Container for all standalone inputs */

.input-box {
    margin: 50px 10px 10px 10px;
}

/* Custom checkbox slider switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px; height: 34px;
}

.switch-input { display: none; }

.switch-slider { /* The "rail" of the slider */
    position: absolute;
    cursor: pointer;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: #9E9E9E; /* Grey 500 */
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}

.switch-slider:before { /* The actual slider */
    position: absolute;
    content: '';
    width: 26px; height: 26px;
    bottom: 4px; left: 4px;
    background-color: #FAFAFA;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}

.switch-input:checked + .switch-slider {
    background-color: #2196F3; /* Blue 500 */
}

.switch-input:focus + .switch-slider {
    -webkit-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .6);
    -moz-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .6);
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .6);
}

.switch-input:checked + .switch-slider:before {
    -webkit-transform: translateX(26px);
    -moz-transform: translateX(26px);
    -ms-transform: translateX(26px);
    -o-transform: translateX(26px);
    transform: translateX(26px);
}

.switch-slider.round {
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
}

.switch-slider.round:before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/* ======= *** FOOTER *** ======= */

footer {}

#version-container {
    position: fixed;
    bottom: 10px; right: 10px;
    text-align: right;
    font-size: 50%;
}

/* ======= *** SNIPPETS *** ======= */

/* Google's material design icon guidelines */

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-225 { font-size: 225%; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Helper classes */

.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.hidden {display: none;}
.inline-block {display: inline-block;}

.btn {

    /* Disable selection of text */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Simulate clicker */
    cursor: pointer;
}